* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.childrenWrappper {
  max-width: 980px;
  margin: auto;
  margin: 100px auto;
}

:root {
  /* colors */
  --color-theme-blue: #3182f6;
  --color-theme-red: #fa4e4e;
  --color-theme-gray: #979797;
  --color-theme-light-gray: #e5e5e5;
  --color-theme-black: #333333;

  /* z-index */
  --z-index-1000: 1000;

  /* border-radius */
  --border-radius-4: 4px;
}
