* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.childrenWrappper {
  margin-top: 75px;
}

:root {
  --color-theme-blue: #3182f6;
  --color-theme-gray: #979797;
  --color-theme-black: #333333;
}
