.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 5px;
  border: 1px solid var(--color-theme-gray);
  cursor: text;
}

.searchInput {
  width: 160px;
  height: 16px;
  margin-left: 5px;
  color: var(--color-theme-gray);
  font-size: 14px;
  line-height: 16px;
  border: none;
}

.searchInput:focus {
  outline: none;
}
